<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  
    <section name="RedisConfig" type="TripRobot.Crawler.RedisConfigInfo, TripRobot.Crawler"/>
  </configSections>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60" MaxReadPoolSize="60"
               AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
</configuration>